{% extends "base.html" %}

{% block title %}Forms{% endblock title %}

{% block content %}
    <div class="py-4 mx-10 h-screen">
        <p class="text-2xl text-gray-600">Forms</p>
        <div class="flex flex-col gap-4 items-center">
            <div class="p-6 bg-white flex flex-col gap-4 rounded-xl shadow-md border border-0 border-l-8 border-l-green-600 border-t-green-600">
                <div class="p-4 bg-gray-900 hover:bg-gray-800 text-white rounded-md shadow-md w-80">
                    <a href="{% url 'ITDeptAccountRegister' %}">Create IT Department an account</a>
                </div>
                <div class="p-4 bg-gray-900 hover:bg-gray-800 text-white rounded-md shadow-md w-80">
                    <a href="{% url 'registerPage' %}">Create Staff account</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}