{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
    <div class="flex justify-center items-center h-screen">
        <div class="p-4 bg-white rounded-md shadow-md">
            {{m}}
            {% for message in messages %}
                <p class="text-sm text-yellow-600 py-2 text-center">{{ message }}</p>
            {% endfor %}
            <h1 class="text-center text-2xl p-2">Login your account.</h1>
            <form method="POST" class="flex flex-col gap-2">
                {% csrf_token %}
                <input type="text" class="rounded-md transition transition-delay-2" id="username" name="username" placeholder="Username" autocapitalize="none" required>
                <input type="password" class="rounded-md transition transition-delay-2" id="password" name="password" placeholder="password" autocapitalize="none" required>
                <input type="submit" class="bg-green-600 text-white rounded-md p-2 hover:bg-green-500 cursor-pointer" value="Login">
            </form>
            {% comment %} <div class="flex flex-col gap-2 p-2 text-center text-blue-600">
                <p class="text-sm">Doesn't have an account?</p>
                <a href="{% url 'registerPage' %}" class="text-sm bg-gray-200 text-gray-600 rounded-md p-2 hover:bg-gray-400 hover:text-white transition transition-delay-2 cursor-pointer">Create staff account.</a>
                <a href="{% url 'ITDeptAccountRegister' %}" class="text-sm bg-gray-200 text-gray-600 rounded-md p-2 hover:bg-gray-400 hover:text-white transition transition-delay-2 cursor-pointer">Create IT Dept account.</a>
            </div> {% endcomment %}
        </div>        
    </div>
{% endblock content %}