{% extends "base.html" %}
{% load static %}
{% block title %}CLMS | Notifications{% endblock title %}

{% block content %}
    <div class="px-4">
        <p class="text-2xl py-4 font-bold">Notifications</p>
        <div class="flex py-4">
            <p class="bg-purple-100 p-2 rounded-md">{{ date_today }}</p>
        </div>
        <div class="flex justify-center items-center">
            <div class="p-4 px-8 flex flex-col w-full">
                <div class="bg-white shadow-xl rounded-md">
                    <form class="flex flex-start gap-2 p-1" method="POST">
                        {% csrf_token %}
                        {% if status == "All" %}
                            <input name="All" type="submit" value="All"  class="hover:bg-gray-50 bg-gray-100 rounded-xl p-2 font-bold cursor-pointer " />
                            <input name="Unread" type="submit" value="Unread"  class="hover:bg-gray-100 rounded-xl p-2 font-bold cursor-pointer " />
                        {% else %}
                            <input name="All" type="submit" value="All"  class="hover:bg-gray-100 rounded-xl p-2 font-bold cursor-pointer " />
                            <input name="Unread" type="submit" value="Unread"  class="hover:bg-gray-50 bg-gray-100 rounded-xl p-2 font-bold cursor-pointer " />
                        {% endif %}
                    </form>

                    <div class="p-2">
                        {% for notif in notifs  %}
                            <span class="flex flex-col py-1">
                                {% if notif.read == True %}
                                    <a href="{% url 'requestDetails' pk=notif.sched_url %}" class="rounded-md flex flex-col p-2 text-gray-600 hover:bg-gray-100 transition transition-delay-1 cursor-pointer">
                                        <span class="font-normal"><span class="font-bold">{{notif.notif_for}}</span>:<span class="text-sm"> {{notif.description}}</span></span>
                                        <span class="text-sm text-gray-400">{{notif.date_created}}<span>
                                    </a>
                                {% else %}
                                    <a href="{% url 'requestDetails' pk=notif.sched_url %}" class="flex flex-col p-2 text-black hover:bg-purple-100 transition transition-delay-1 cursor-pointer">
                                        <span class="font-normal"><span class="font-bold">{{notif.notif_for}}</span>:<span class="text-sm"> {{notif.description}}</span></span>
                                        <span class="text-sm text-gray-400">{{notif.date_created}} <span class="float-right bg-blue-600 p-1.5 rounded-xl"></span><span>
                                    </a>
                                {% endif %}
                            </span>
                        {% endfor %}
                        {% if notifs.count < 1 %}
                            <p class="text-sm text-slate-900 text-center">No data to show.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}