{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% tailwind_css %}
        <title>
            {% block title %}{% endblock title %}
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'account/base.css' %}">
    </head>
    <body>
        <div class="p-4 bg-white">
            <div class="flex gap-4">
                <a class="text-md" href="{% url 'index' %}">CLMS</a>
                <p class="text-md">Settings</p>
            </div>
        </div>
        {% block content  %}
        
        {% endblock content %}
    </body>
</html>