{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<div class="mx-10 h-screen flex flex-col gap-6">
    <p class="text-2xl text-gray-600 p-4">Dashboard</p>
    <div class="flex flex-wrap justify-center gap-6">
        <a href="{% url 'requestList' %}" class="p-4 bg-white rounded-xl shadow-md border boder-0 border-l-8 border-l-blue-600">
            <p class="text-gray-900">Pending Request Schedule</p>
            {% if pending.count < 1 %}
                <p class="text-xl">No pending request.</p>
            {% else %}
                <p class="text-xl">{{ pending.count }}</p>
            {% endif %}
        </a>

        <a href="{% url 'approvedRequest' %}" class="p-4 bg-white rounded-xl shadow-md border boder-0 border-l-8 border-l-green-600">
            <p class="text-gray-900">Approved Schedule</p>
            {% if approved.count < 1 %}
                <p class="text-xl">No data.</p>
            {% else %}
                <p class="text-xl">{{ approved.count }}</p>
            {% endif %}
        </a>
    </div>
    <div class="flex flex-wrap justify-center gap-6">
        <a href="{% url 'rejectedRequest' %}" class="p-4 bg-white rounded-xl shadow-md border boder-0 border-l-8 border-l-red-600">
            <p class="text-gray-900">Rejected Schedule</p>
            {% if rejected.count < 1 %}
                <p class="text-xl">No data.</p>
            {% else %}
                <p class="text-xl">{{ rejected.count }}</p>
            {% endif %}
        </a>

        <a href="{% url 'onGoingSchedule' %}" class="p-4 bg-white rounded-xl shadow-md border boder-0 border-l-8 border-l-blue-600">
            <p class="text-gray-900">On going Schedule</p>
            {% if onGoing.count < 1 %}
                <p class="text-xl">Comlab is Available</p>
            {% else %}
                <p class="text-xl">{{ onGoing.count }}</p>
            {% endif %}
        </a>

        <a href="{% url 'doneSchedule' %}" class="p-4 bg-white rounded-xl shadow-md border boder-0 border-l-8 border-l-green-600">
            <p class="text-gray-900">Done Schedule</p>
            {% if done.count < 1 %}
                <p class="text-xl">No data.</p>
            {% else %}
                <p class="text-xl">{{ done.count }}</p>
            {% endif %}
        </a>
    </div>
</div>
    {% comment %} <a href="{% url 'logout' %}">Logout</a> 
    
    <a href="/account/theme?color=dark">Dark</a>
    <a href="/account/theme?color=light">Light</a> {% endcomment %}
{% endblock content %}