{% extends '../../base.html' %}

{% block content %}

    {% block title %}CLMS | Reset Done{% endblock title %}
	<!--Password reset sent-->
	{% include '../../components/unauthenticatedNavigation.html' %}
		<div class="py-4 mx-10">
			<div class="p-5">
				<p class="text-2xl text-gray-600">Password reset sent</p>
					<hr>
					<p class="p-2">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
			</div>
		</div> 
	{% include '../../components/unauthenticatedFooter.html' %}

{% endblock %}