{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="bg-gray-50">
    <head>
        <title>
            {% block title %}{% endblock title %}
        </title>
        {% tailwind_css %}
        {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'account/base.css' %}"> {% endcomment %}
    </head>
    <body>
        {% if user.is_authenticated %}
            <div class="p-4 mx-auto flex items-center bg-green-500 text-white border border-0 border-b-4 border-b-yellow-200 shadow-md">
                <div class="flex gap-4 items-center w-full">
                    <a href="{% url 'index' %}" class="text-2xl">CLMS</a>
                    <a href="{% url 'adminDashboard' %}">Dashboard</a>
                    {% if request.user.username == 'admin' %}
                        <a href="{% url 'formPage' %}">Forms</a>
                    {% endif %}
                </div>
                <div class="flex gap-4 float-right">
                    <a href="#">Notification(1)</a>
                    <a href="#">Profile</a>
                    <button>Settings</button>
                </div>
            </div>
        {% endif %}
            {% block content  %}
            {% endblock content %}
    </body>
</html>