{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="bg-gradient-to-r from-pink-50 via-slate-100 to-purple-100 backdrop backdrop-blur-xl">
    <head>
        <title>
            {% block title %}{% endblock title %}
        </title>
        {% tailwind_css %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'account/base.css' %}"> {% endcomment %}
        <style>
            .my-transition{
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition:all 0.5s ease-in-out;
                -o-transition:all 0.5s ease-in-out;
                transition:all 0.5s ease-in-out;
              }
            /* width */
            ::-webkit-scrollbar {
                width: 10px;
            }
            
            /* Track */
            ::-webkit-scrollbar-track {
                background: #f1f1f1; 
            }
             
            /* Handle */
            ::-webkit-scrollbar-thumb {
                background: #888; 
            }
            
            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #555; 
            }
            html {
                scroll-behavior: smooth;
            }
        </style>
    </head>
    <body>
        
        {% comment %} {% include './components/navbar.html' %}     {% endcomment %}
        {% if user.is_authenticated %}
            <div id="navB" class="grid grid-cols-6 my-transition">
                {% include './components/sidebar.html' %}    
        {% endif %}

        <div class="col-span-4">
            {% block content  %}
            {% endblock content %}
        </div>

        {% if user.is_authenticated %}
            {% include './components/updates.html' %}    
        {% endif %}
             
        </div>  
        {% if user.is_authenticated %}
            {% include './components/footer.html' %}
        {% endif %}
        
        {% if user.is_authenticated %}
            <script>
                $(document).ready(function() {
                    $(".ajaxRes").hide();
                    setInterval(function() {
                        $.ajax({
                            url: "{% url 'getNotifs' %}",
                            dataType: 'json',
                            beforeSend:function() {
                                $(".ajaxRes").show();
                                $(".ajaxRes").text();
                            },
                            success:function(res) {
                                _html='';
                                _json = $.parseJSON(res.data);
                                var monthNames = [
                                    "Jan.", "Feb.", "March",
                                    "Apr.", "May", "June", "July",
                                    "Aug.", "Sept.", "Oct.",
                                    "Nov.", "Dec."
                                ];
                                function addZero(i) {
                                    if (i < 10) {
                                        i = "0" + i;
                                    }
                                
                                    return i;
                                }
                                function get_date(date){
                                    var date = new Date(date);
                                    var day = date.getDate();
                                    var monthIndex = date.getMonth();
                                    var year = date.getFullYear();
                                    var hours = addZero(date.getHours());
                                    var minutes = addZero(date.getMinutes());
                                
                                    return monthNames[monthIndex] + " " + day + " " + year;
                                }
                                
                                $.each(_json, function(index, d) {
                                    if(d.fields.read){
                                        _html+='<a href="/schedule/request/'+ d.fields.sched_url +'" class="flex flex-col p-2 text-gray-600 hover:bg-gray-100 transition transition-delay-1 cursor-pointer"><span class="font-normal"><span class="font-bold">' + d.fields.notif_for + '</span>: <span class="text-sm">' + d.fields.description +'</span></span><span class="text-sm text-gray-400">'+ get_date(d.fields.date_created) +'<span></a>';
                                    }else {
                                        _html+='<a href="/schedule/request/'+ d.fields.sched_url +'" class="flex flex-col p-2 text-gray-600 hover:bg-gray-100 transition transition-delay-1 cursor-pointer bg-purple-100 hover:bg-purple-200"><span class="font-normal"><span class="font-bold">' + d.fields.notif_for + '</span>: <span class="text-sm">' + d.fields.description +'</span></span><span class="text-sm text-gray-400">'+ get_date(d.fields.date_created) +'<span></a>';
                                    }
                                    
                                });
            
                                $('.notif-list').html(_html);
                                $(".ajaxRes").hide();
                            }
                        })
                    }, 3000)
                });

                $(document).on("click", ".mark-all-read", function() {
                    $.ajax({
                        url: "{% url 'clearNotification' %}"
                    });
                });

                $(document).ready(function() {
                    $(".ajaxRes").hide();
                    setInterval(function() {
                        $.ajax({
                            url: "{% url 'getNotifs' %}",
                            dataType: 'json',
                            beforeSend:function() {
                                $(".ajaxRes").show();
                                $(".ajaxRes").text();
                            },
                            success:function(res) {
                                _totalUnread = '';
                                _notifStatus='';
                                _json = $.parseJSON(res.totalUnread);

                                if(_json > 0) {
                                    _notifStatus='<button type="button" class="text-sm pb-1 text-blue-500 cursor-pointer float-right w-full mark-all-read">Mark all as read</button>'
                                    _totalUnread += '<button id="notification" onClick="notifClicked()" class="flex items-center">Notification <span class="bg-red-600 rounded-xl px-2 text-sm total-unread">'+ _json +'</span></button><button id="notification2" onClick="notifClicked2()" class="hidden flex items-center">Notification <span class="bg-red-600 rounded-xl px-2 text-sm total-unread">'+ _json +'</span></button> <button id="profile" onClick="profileClicked()">Account</button> <button id="profile2" onClick="profileClicked2()" class="hidden">Account</button>'
                                } else {
                                    _notifStatus='<p class="text-gray-600 text-sm text-center">No new updates.</p>'
                                    _totalUnread += '<button id="notification" onClick="notifClicked()">Notification</button> <button id="notification2" onClick="notifClicked2()" class="hidden">Notification</button> <button id="profile" onClick="profileClicked()">Account</button> <button id="profile2" onClick="profileClicked2()" class="hidden">Account</button>'
                                }

                                $('.notif-status').html(_notifStatus);
                                $('.total-unread').html(_totalUnread);
                                $(".ajaxRes").hide();
                            }
                        })
                    }, 3000)
                });
                
            </script>
        {% endif %}
        <script>
            var openM = document.getElementById("openM")
            var sideB = document.getElementById("sideB")
            var navB = document.getElementById("navB")

            function openMenu() {
                openM.classList.add("md:hidden")
                navB.classList.add("md:ml-60")
                sideB.classList.remove("w-0")
                sideB.classList.add("md:w-60")
            }
            
            function closeMenu() {
                openM.classList.remove("md:hidden")
                navB.classList.remove("md:ml-60")
                sideB.classList.add("w-0")
                sideB.classList.remove("md:w-60")
            }
        </script>
    </body>
</html>