{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SJC-CLMS</title>
        {% tailwind_css %}
    </haed>

    <body>
        {% comment %} {% if color == 'light' %}
            <link rel="stylesheet" type="text/css" href="{% static 'account/lightIndex.css' %}">
        {% else %}
            <link rel="stylesheet" type="text/css" href="{% static 'account/darkIndex.css' %}">
        {% endif %} {% endcomment %}
        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout<a>
        {% endif %}
        <div class="">
            <div class="p-16 text-center bg-white flex flex-col gap-8 items-center">
                <p class="text-3xl font-bold">Computer Laboratory Management System<p>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'adminDashboard' %}" class="p-4 bg-purple-600 text-white rounded-md shadow-sm">Dashboard<a>
                {% else %}
                    <a class="p-4 bg-purple-600 text-white rounded-md shadow-sm" href="{% url 'loginPage' %}">Login to your account</a>
                {% endif %}
            </div>
            {% comment %} <a href="{% url 'loginPage' %}">Login your account.</a>
            <a href="{% url 'registerPage' %}">Register staff account.</a>
            <a href="{% url 'ITDeptAccountRegister' %}">Register IT Dept account.</a> {% endcomment %}
        </div>
    </body>
</html>