{% load static %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SJC-CLMS</title>
        {% tailwind_css %}
        <link rel="stylesheet" href="{% static 'index.css' %}">
    </haed>

    <body class="bg-gray-50">
        <p class="p-2 bg-black text-white text-center">
            <a href="{% url 'About_Us' %}" class="cursor-pointer">BSIT Capstone Group 9</a>
            | Saint Jude College Manila
        </p>
        {% comment %} {% if color == 'light' %}
            <link rel="stylesheet" type="text/css" href="{% static 'account/lightIndex.css' %}">
        {% else %}
            <link rel="stylesheet" type="text/css" href="{% static 'account/darkIndex.css' %}">
        {% endif %}
        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout<a>
        {% endif %}{% endcomment %}

        <div class="flex flex-col">
            <div class="p-16 text-center bg-black text-black flex flex-col gap-12 items-center shadow-md">
                <p class="text-5xl font-serif font-bold text-white">Computer Laboratory Management System<p>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'adminDashboard' %}" class="p-4 bg-white hover:bg-gray-100 transition transition-delay-1 text-black rounded-md shadow-sm">Dashboard<a>
                    {% if 'prof' in user_group %}
                        <a class="p-4 bg-white hover:bg-gray-100 transition transition-delay-1 text-black rounded-md shadow-sm" href="{% url 'requestForm' %}">Request Schedule</a>
                    {% endif %}
                    {% else %}
                    <a class="p-4 bg-white hover:bg-gray-100 transition transition-delay-1 text-black rounded-md shadow-sm" href="{% url 'loginPage' %}">Login to your account</a>
                    <a class="p-4 bg-white hover:bg-gray-100 transition transition-delay-1 text-black rounded-md shadow-sm" href="{% url 'requestForm' %}">Request Schedule</a>
                {% endif %}
            </div>

            <div class="h-screen" id="bgImage">
            </div>

            {% comment %} <a href="{% url 'loginPage' %}">Login your account.</a>
            <a href="{% url 'registerPage' %}">Register prof account.</a>
            <a href="{% url 'ITDeptAccountRegister' %}">Register IT Dept account.</a> {% endcomment %}
        </div>
        <footer class="bg-black p-8">
            <p class="text-sm text-white text-center">Computer Laboratory Monitorig System @2022</p>
        </footer>
    </body>
</html>