{% if user.is_authenticated %}
<div class="fixed md:static bg-main-bg dark:bg-main-dark-bg navbar w-full my-transition">
    <div class="my-transition p-4 mx-auto flex items-center bg-black text-white border-none shadow-md">
        <div class="my-transition flex gap-4 items-center w-full">
            <button id="openM" onClick="openMenu()" class="md:hidden flex">
                Menu
            </button>
            <a href="{% url 'adminDashboard' %}">Dashboard</a>
            {% comment %} {% if 'admin' in user_group %}
                <a href="{% url 'formPage' %}">Forms</a> {% endcomment %}
            {% if 'prof' in user_group %}
                <a href="{% url 'requestForm' %}">Create schedule</a>
            {% endif %}

        </div>

        <div class="flex gap-4 float-right total-unread">
            {% if notification_count.count <= 0 %}
                <button id="notification" onClick="notifClicked()">Notification</button>
                <button id="notification2" onClick="notifClicked2()" class="hidden">Notification</button>
            {% else %}
                <button id="notification" onClick="notifClicked()" class="flex items-center">Notification <span class="bg-red-600 rounded-xl px-2 text-sm total-unread">{{notification_count.count}}</span></button>
                <button id="notification2" onClick="notifClicked2()" class="hidden flex items-center">Notification <span class="bg-red-600 rounded-xl px-2 text-sm total-unread">{{notification_count.count}}</span></button>
            {% endif %}

            <button id="profile" onClick="profileClicked()">Account</button>
            <button id="profile2" onClick="profileClicked2()" class="hidden">Account</button>
            {% comment %} <button>Settings</button> {% endcomment %}
        </div>
    </div>
    {% if notification_count.count <= 0 %}
        <div id="notif-modal" class="hidden absolute bg-white right-7 top-12 mr-10 rounded-md shadow-md h-auto max-h-96 max-w-96 w-72 overflow-hidden scroll-smooth my-transition">
            <div class="flex notif-status">
                <p class="p-4 text-sm text-center text-gray-500">No new updates.</p>
        {% else %}
        <div id="notif-modal" class="hidden absolute bg-white right-7 top-12 mr-10 rounded-md shadow-md h-auto max-h-96 max-w-96 w-96 overflow-scroll scroll-smooth">
            <div class="flex notif-status">
                <button type="button" class="text-sm p-4 text-blue-500 cursor-pointer hover:bg-blue-100 float-right w-full text-center mark-all-read">Mark all as read</button>
    {% endif %}
        </div>
        <span class="notif-list">
            {% for notif in notifications  %}
                {% if notif.read == True %}
                    <a href="{% url 'requestDetails' pk=notif.sched_url %}" class="flex flex-col p-2 text-gray-600 border-2 hover:bg-gray-100 transition transition-delay-1 cursor-pointer">
                        <span>{{notif.description}}</span>
                        <span class="text-sm text-gray-400">{{notif.date_created}}<span>
                    </a>
                {% else %}
                    <a href="{% url 'requestDetails' pk=notif.sched_url %}" class="flex flex-col p-2 text-black border-2 bg-yellow-200 hover:bg-yellow-300 transition transition-delay-1 cursor-pointer">
                        <span>{{notif.description}}</span>
                        <span class="text-sm text-gray-600">{{notif.date_created}}<span>
                    </a>
                {% endif %}
            {% endfor %}
        </span>
    </div>
    
    <span class="ajaxRes"></span>
    <div id="profile-modal" class="hidden absolute bg-white right-0 top-12 mr-10 rounded-md shadow-md h-auto max-w-72 w-auto overflow-hidden">
        <span class="flex flex-col">
            <a href="{% url 'profile' %}" class="p-4 hover:bg-gray-100 transition transition-delay-1">View profile</a>
            <a href="{% url 'logout' %}" class="p-4 hover:bg-gray-100 transition transition-delay-1">Logout</a>
        </span>
    </div>
</div>
{% else %}
    <p class="p-2 bg-black text-white text-center"><a href="/" class="cursor-pointer">Computer Laboratory Management System</a> | Saint Jude College Manila</p>
{% endif %}

<script>
    var notifButton = document.getElementById("notification")
    var notifButton2 = document.getElementById("notification2")
    var notifModal = document.getElementById("notif-modal")

    var profileModal = document.getElementById("profile-modal")
    var profileButton = document.getElementById("profile")
    var profileButton2 = document.getElementById("profile2")

    function notifClicked() {
        notifButton.classList.add('hidden');
        notifButton2.classList.remove('hidden');
        notifModal.classList.remove('hidden');
    };

    function notifClicked2() {
        notifButton.classList.remove('hidden');
        notifButton2.classList.add('hidden');
        notifModal.classList.add('hidden');
    };
    
    function profileClicked() {
        profileButton.classList.add('hidden');
        profileButton2.classList.remove('hidden');
        profileModal.classList.remove('hidden');
    };

    function profileClicked2() {
        profileButton.classList.remove('hidden');
        profileButton2.classList.add('hidden');
        profileModal.classList.add('hidden');
    };

    document.addEventListener('mouseup', function(e) {
        if (!notifModal.contains(e.target)) {
            notifModal.classList.add('hidden');
            profileModal.classList.add('hidden');
        }
    });
</script>