{% extends '../base.html' %}
{% block title %}CLMS | Reports{% endblock  %}
{% block content %}
<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("dateInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        console.log(input.value)
      
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
</script>
<div class="py-4 mx-10 min-h-screen h-auto">
    <p class="text-2xl text-gray-600 p-4">CLMS Requested Schedule Report</p>
    <div class='flex justify-center'>
        <div class="bg-white rounded-md shadow-md w-96">
            <div class="p-2 rounded-md"> 
                <form method="POST" class="p-2 flex flex-col">
                    {% csrf_token %}
                    <p class="text-xl py-2">Create Report</p>
                    <label for="dateFrom" class="text-gray-600">Date from: </label>
                    <input 
                        type="date" 
                        id="dateFrom" 
                        name="dateFrom" 
                        class="rounded-md" 
                        onkeyup="myFunction()"
                        required 
                    />
                    <label for="dateTo" class="text-gray-600">Date to: </label>
                    <input 
                        type="date" 
                        id="dateTo" 
                        name="dateTo" 
                        class="rounded-md" 
                        onkeyup="myFunction()"
                        required 
                    />
                    <label for="sched_status" class="text-gray-600">Status:</label>
                    <select name="sched_status" id="sched_status" class="rounded-md transition transition-delay-1" required>
                        <option hidden>Schedule status</option>
                        <option value="all">All</option>
                        <option value="Done">Done</option>
                        <option value="Approved">Approved</option>
                        <option value="Rejected">Rejected</option>
                        <option value="On Going">On Going</option>
                    </select>
                    <input 
                        type="submit" 
                        value="Create" 
                        class="p-2 rounded-md bg-purple-500 hover:bg-purple-400 text-white cursor-pointer mt-2" />
                </form>
            </div>
            
        </div>
    </div>
</div>
{% endblock  %}