{% extends '../base.html' %}

{% block title %}Schedule | Rejected{% endblock  %}
{% block content %}
<div class="flex flex-col gap-4 pb-10 px-4 mx-10">
    <p class="text-2xl py-4 font-bold">Rejected Schedules</p>
    <div class="flex">
        <p class="bg-purple-100 p-2 rounded-md">{{ date_today }}</p>
    </div>
    <div class='flex justify-center'>
        <div class="bg-white rounded-md shadow-md">
            <table class="border-separate rounded-md shadow-md">
                <tr class="border boreder-2 text-center text-white bg-purple-500 rounded-md">
                    <th class="p-2 rounded-md">DATE CREATED</th>
                    <th class="p-2 rounded-md">REQUESTED BY</th>
                    <th class="p-2 rounded-md">REQUEST DATE</th>
                    <th class="p-2 rounded-md">TIME IN</th>
                    <th class="p-2 rounded-md">TIME OUT</th>
                    <th class="p-2 rounded-md">YEAR LEVEL</th>
                    <th class="p-2 rounded-md">SECTION</th>
                    <th class="p-2 rounded-md">STUDENT COUNT</th>
                    <th class="p-2 rounded-md">STATUS</th>
                    <th class="p-2 rounded-md">INFO</th>
                </tr>
                {% if schedCount < 1 %}
                    <tr>
                        <td colspan="10" class="text-center p-4 text-gray-600 text-sm">No data to show.</td>
                    </tr>
                {% endif %}
                {% for sched in page_obj %}
                <tr class="border boreder-2 hover:bg-gray-200 active:bg-gray-200 transition transition-delay-1 text-center cursor-pointer">
                    <td class="p-2">{{sched.date_created}}</td>
                    <td class="p-2">{{sched.requester|upper}}</td>
                    <td class="p-2">{{sched.date_request}}</td>
                    <td class="p-2">{{sched.time_in}}</td>
                    <td class="p-2">{{sched.time_out}}</td>
                    <td class="p-2">{{sched.year_level}}</td>
                    <td class="p-2">{{sched.section}}</td>
                    <td class="p-2">{{sched.student_set.all.count}}</td>
                    <td class="p-2">{{sched.status}}</td>
                    <td class="p-2">
                        <a href="{% url 'requestDetails' pk=sched.pk %}" class="p-1 bg-blue-600 rounded-md text-white hover:bg-blue-500 transition transition-dalay-1">Check</a>
                        {% comment %} <button class="p-1 bg-red-600 rounded-md text-white hover:bg-red-500 transition transition-dalay-1">Reject</button> {% endcomment %}
                    </td>

                </tr>
                {% endfor %}
            </table>
            <div class="flex gap-2 items-center mx-2">
                <p class="px-4 py-2 float-left text-md text-purple-600">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</p>
                <div class="flex gap-2 justify-end">
    
                    {% if page_obj.has_previous %}
                        <a href="?page=1" class="bg-gray-100 px-2 py-1 rounded-md hover:bg-gray-200 transition transition-delay-1 text-sm">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}" class="bg-gray-100 px-2 py-1 rounded-md hover:bg-gray-200 transition transition-delay-1 text-sm">Prev</a>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="bg-gray-100 px-2 py-1 rounded-md hover:bg-gray-200 transition transition-delay-1 text-sm">Next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}" class="bg-gray-100 px-2 py-1 rounded-md hover:bg-gray-200 transition transition-delay-1 text-sm">Last &raquo;</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}