{% extends "base.html" %}

{% load static %}
{% block title %}CLMS | Account request{% endblock title %}
{% block content %}
    {% include '../components/unauthenticatedNavigation.html' %}
    <div class="flex flex-row items-center justify-center xl:gap-32 gap-8 py-8 xl:py-none">

        <img src="{% static "./images/account_request.svg" %}" class="md:block hidden w-96 xl:w-2/5 p-8 drop-shadow-2xl">

        <div class="p-4 backdrop-blue-2xl bg-white/80 rounded-md shadow-md">
            {{m}}
            {% for message in messages %}
                <p class="text-sm text-yellow-600 py-2 text-center">{{ message }}</p>
            {% endfor %}

            <h1 class="text-center text-2xl p-2 pb-4">Request an account.</h1>

            <form method="POST" class="flex flex-col gap-2">
                {% csrf_token %}
                <input type="email" class="rounded-md transition transition-delay-2" id="email_request" name="email_request" placeholder="Enter your email..." autocapitalize="none" autofocus required>
                <input type="submit" class="bg-purple-600 text-white rounded-md p-2 hover:bg-purple-500 cursor-pointer" value="Send request">
            </form>

            <div class="flex flex-col gap-2 p-2 text-center text-purple-600">
                <a href="{% url 'password_reset' %}" class="text-sm cursor-pointer">Forgot password?</a>
                <a href="{% url 'loginPage' %}" class="text-sm cursor-pointer">have an account? Log in.</a>
            </div>        
        </div>
    </div>
    {% include '../components/footer.html' %}
{% endblock content %}