{% extends '../base.html' %}
{% block title %}CLMS | Schedule Detail{% endblock  %}
{% block content %}
<div class="pb-8 mx-10">
    <p class="text-2xl py-4 font-bold">Details</p>
    <div class="flex justify-between items-center py-4 pb-8">

        <div class="flex">
            <p class="bg-purple-100 p-2 rounded-md">{{ date_today }}</p>
        </div>

        {% if requestDetails.status == "Pending" and 'dean' in group %}
            <div class="float-right flex gap-4">
                <form method="POST">
                    {% csrf_token %}
                    <input type="submit" class="text-white p-2 px-4 bg-purple-500 cursor-pointer border border-1 border-purple-500 rounded-md hover:bg-purple-400 transition transition-delay-1" name="approve_sched" value="Approve" />
                </form>
                <form method="POST">
                    {% csrf_token %}
                    <input type="submit" class="p-2 px-4 bg-red-500 text-white cursor-pointer border border-1 border-red-500 rounded-md hover:bg-red-400 transition transition-delay-1" name="reject_sched" value="Reject" />
                </form>
            </div>
        {% endif %}

        {% if requestDetails.requester == request.user and requestDetails.status == 'Approved'  %}
            <div class="">
                <form method="POST">
                    {% csrf_token %}
                    <input type="submit" class="text-white p-2 px-4 bg-blue-500 hover:bg-blue-400 cursor-pointer rounded-md transition transition-delay-1" name="timein" value="START TIME SCHEDULE" />
                </form>
            </div>
        {% endif %}
        
        {% if requestDetails.requester == request.user and requestDetails.status == 'On Going'  %}
            <div class="">
                <form method="POST">
                    {% csrf_token %}
                    <input type="submit" class="text-red-600 p-2 px-4 border-2 border-red-500 hover:text-white hover:bg-red-400 cursor-pointer rounded-md transition transition-delay-1" name="timeout" value="STOP TIME SCHEDULE" />
                </form>
            </div>
        {% endif %}
    </div>


    
    <div class="flex flex-wrap gap-4 justify-center">
        <div class="p-4 bg-white rounded-md shadow-xl border-0 border-l-8 border-purple-600">
            <p class="text-sm text-gray-900">Date requested</p>
            <p class="text-xl">{{ requestDetails.date_created }}</p>
        </div>

        <div class="p-4 bg-white rounded-md shadow-xl border-0 border-l-8 border-purple-600">
            <p class="text-sm text-gray-900">Requested by</p>
            <p class="text-xl">{{ requestDetails.requester }}</p>
        </div>

        {% comment %} <div class="p-4 bg-white rounded-md shadow-xl border-0 border-l-8 border-purple-600">
            <p class="text-sm text-gray-900">Request Date</p>
            <p class="text-xl">{{ requestDetails.date_request }}</p>
        </div> {% endcomment %}

        <div class="p-4 bg-white rounded-md shadow-xl border-0 border-l-8 border-purple-600">
            <p class="text-sm text-gray-900">Date and Time In&Out Request</p>
            <p class="text-xl">{{ requestDetails.date_request }}</p>
            <p class="text-xl">{{ requestDetails.time_in }} - {{ requestDetails.time_out }}</p>
        </div>
        
        <div class="p-4 bg-white rounded-md shadow-xl border-0 border-l-8 border-purple-600">
            <p class="text-sm text-gray-900">STATUS</p>
            {% if requestDetails.status == 'Approved' %}
                <p class="text-xl text-purple-600">{{ requestDetails.status|upper }}</p>
            {% elif requestDetails.status == 'Rejected' %}
                <p class="text-xl text-red-600">{{ requestDetails.status|upper }}</p>
            {% elif requestDetails.status == 'Done' %}
                <p class="text-xl text-purple-600">{{ requestDetails.status|upper }}</p>
            {% else %}
                <p class="text-xl text-blue-600">{{ requestDetails.status|upper }}</p>
            {% endif %}
        </div>
        
    </div>
    
    {% if time_usage.time_in == null %}
    {% else %}
    <div class="my-6">
        <p class="text-2xl font-bold py-2 px-4">Time Usage Details</p>
        <div class="flex flex-wrap mx-28 gap-6 justify-center">
            {% comment %} <div class="p-4 bg-white rounded-md shadow-xl border-0 border-l-8 border-purple-600">
                <p class="text-sm text-gray-900">Time In Request</p>
                <p class="text-xl">{{ requestDetails.time_in }}</p>
            </div>
            <div class="p-4 bg-white rounded-md shadow-xl border-0 border-l-8 border-purple-600">
                <p class="text-sm text-gray-900">Time Out Request</p>
                <p class="text-xl">{{ requestDetails.time_out }}</p>
            </div> {% endcomment %}
            
            {% if time_usage.time_in == null %}
            {% else %}
                <div class="p-4 bg-white rounded-md shadow-xl border-0 border-l-8 border-purple-600">
                    <p class="text-sm text-gray-900">In</p>
                    <p class="text-xl">{{time_usage.date_created}}</p>
                </div>
            {% endif %}
    
            {% if time_usage.time_out == null %}
            {% else %}
                <div class="p-4 bg-white rounded-md shadow-xl border-0 border-l-8 border-purple-600">
                    <p class="text-sm text-gray-900">Out</p>
                    <p class="text-xl">
                        {{time_usage.date_updated}}
                    </p>
                </div>
                <div class="p-4 bg-white rounded-md shadow-xl border-0 border-l-8 border-purple-600">
                    <p class="text-sm text-gray-900">Time used</p>
                    {% if hour == 0 %}
                        <p class="text-xl">{{ min }} minutes, {{ sec }} secs</p>
                    {% elif min > 59 %}
                        <p class="text-xl">{{ hour }} Hours</p>
                    {% endif %}
                </div>
            {% endif %}
            {% comment %} <div class="p-4 bg-white rounded-md shadow-xl border-0 border-l-8 border-purple-600">
                <a href={{requestDetails.class_list.url}}class="text-xl text-blue-600">{{ requestDetails.class_list }}</a>
            </div> {% endcomment %}
        </div>
    </div>
    {% endif %}

    <div class="my-6">
        <p class="text-2xl font-bold py-2 px-4">Student List</p>
        <div class="flex justify-center items-center">
            <div class="bg-white rounded-md shadow-xl">
                <table class="border-separate rounded-md shadow-xl">
                    <tr class="border boreder-2 text-white bg-purple-500 transition transition-delay-1">
                        <th class="p-2 rounded-md">STUDENT NO.</th>
                        <th class="p-2 rounded-md">LAST NAME</th>
                        <th class="p-2 rounded-md">FIRST NAME</th>
                        <th class="p-2 rounded-md">MIDDLE NAME</th>
                        <th class="p-2 rounded-md">CONTACT</th>
                        <th class="p-2 rounded-md">ADDRESS</th>
                    </tr>
                    {% for sched in page_obj %}
                    <tr class="hover:bg-gray-200 transition transition-delay-1">
                        <td class="p-2">{{ sched.student_no }}</td>
                        <td class="p-2">{{ sched.last_name|upper }}</td>
                        <td class="p-2">{{ sched.first_name|upper }}</td>
                        <td class="p-2">{{ sched.middle_name|upper }}</td>
                        <td class="p-2">{{ sched.contact }}</td>
                        <td class="p-2">{{ sched.address|upper }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="flex gap-2 items-center mx-2">
                    <p class="px-4 py-2 float-left text-md text-purple-600">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</p>
                    <div class="flex gap-2 justify-end">

                        {% if page_obj.has_previous %}
                            <a href="?page=1" class="bg-gray-100 px-2 py-1 rounded-md hover:bg-gray-200 transition transition-delay-1 text-sm">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}" class="bg-gray-100 px-2 py-1 rounded-md hover:bg-gray-200 transition transition-delay-1 text-sm">Prev</a>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="bg-gray-100 px-2 py-1 rounded-md hover:bg-gray-200 transition transition-delay-1 text-sm">Next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}" class="bg-gray-100 px-2 py-1 rounded-md hover:bg-gray-200 transition transition-delay-1 text-sm">Last &raquo;</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}